services:
  roadcast.api:
    image: ${DOCKER_REGISTRY-}roadcastapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    build:
      context: src/roadcast.Api
      dockerfile: Dockerfile

  postgres:
    image: postgres:15
    container_name: pg
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: verysecure
      POSTGRES_DB: roadcast
    ports:
      - "5432:5432"
  
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
      - "9093:9093" 
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CLUSTER_ID: "roadcast-main-cluster"

  redis:
    image: redis:7
    ports:
      - "6379:6379"